<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method='POST' action='{% url "app:create" %}'>
        {% csrf_token %}
        <input type='text' class='form-control' name='title' maxlength="31" required>
        <button>Don't Forget</button>
    </form>
    <ul>
        {% for todo in todos %}
        <li>{{todo.title}}</li>
        {% endfor %}
    </ul>
</body>
</html>
