<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />
        <title>Document</title>
    </head>
    <body class="container">
        <form
            method="POST"
            action="{% url 'app:create' %}"
            class="d-flex container"
        >
            {% csrf_token %}
            <input
                type="text"
                class="form-control"
                name="title"
                maxlength="31"
                required
            />
            <button class="btn-danger btn">Don't Forget</button>
        </form>
        <hr class="line-dividers" />

        <hr class="line-dividers" />
        <ul>
            {% for todo in todos %}
            <li class="container">
                <hr />
                <div class="d-flex justify-content-between">
                    <div><button class="btn-primary btn">edit</button></div>
                    <p>{{ todo.title }}</p>
                    <form
                        method="POST"
                        action="{% url 'app:toggle_completed' todo.id %}"
                    >
                        {% csrf_token %}
                        <button class="btn-success btn">toggle complete</button>
                    </form>
                    <form method="POST" action="{% url 'app:delete' todo.id %}">
                        {% csrf_token %}
                        <button class="btn-danger btn">delete</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </body>

    <style>
        .line-dividers {
            color: lightgray;
            opacity: 0.25;
        }
        li {
            list-style: none;
        }
        ul {
        }
    </style>
</html>
